/************************************************************************************
ALL res
*************************************************************************************/
/*****************header********************/
	/**top-black-line**/
		#top-black-line{
			width: 100%;
			height: auto;
			background-color: black;
		}
		.top-line{
			height: auto;
			font : 12px sans-serif;
			background: black;
			color: white;
		}
		.custom-care{
			padding-top: 8px;
		}
		.top-line-right>div{
			height: 30px;
			padding: 0 10px;
			float:right;
			padding-top: 8px;
		}
		.user-img{
			margin-right: 5px;
			float: left;
		}
		.search{
			border-left: 1px solid #686868 ;
			border-right: 1px solid #686868 ;
			padding-top: 5px;
		}
		.val{
			border-left: 1px solid #686868 ;
			border-right: 1px solid #686868 ;
		}
		.val .dropdown-menu{
			min-width: 66px;
			background: black;
		}
		.val .dropdown-menu li>a{
			padding:3px 8px;
			color:white;
		}
		.val .dropdown-menu li>a:hover{
			background: #686868;
		}
	/**navigtion-top**/
		#logo{
			margin:18px 0px;
		}
		#nav{
			margin:20px 0px;
		}
		#nav-top a{
			color: black;
		}
		#header .navbar-toggle span{
			width: 22px;
			height: 4px;
			border-radius: 5px;
		}
		#nav-top{
			margin:15px 0px;
		}
		ul.black>li>a{
			color:black;
		}
		.navbar-inverse{
			background: #fd926d;
		}
		#items-cart{
			padding:0px;
			float: right;
		}
		#items-cart>div{
			float: right;
		}
		#cart{
			float:left;
		}
		#your-cart{
			width: 214px;
			height: 33px;
			padding:5px 10px;
			border:1px solid #d6d6d6;
			border-bottom: 0px;
		}
		#your-cart>a{
			display: block;
			width: 100%;
			color:#949393;
		}
		#your-cart .dropdown-menu{
			position: relative;
			top: 5px;
			left: -10.5px;
			min-width: 214px;
			max-height: 500px;
			overflow-y: auto;
		}
		#cart-caret{
			float:right;
			margin-top: 5px
		}
		#items{
			margin:5px 10px;
			background: #fafafa;
			float:right;
			color:rgb(188,188,188);
		}
		#icon-cart{
			background: #fafafa;
		}
		#items-val{
			width: 214px;
			height: 33px;
			padding:5px 10px;
			background: #fafafa;
			border:1px solid #d6d6d6;
		}
	/**carusel-header**/
		#header .carousel{
			margin-bottom: 55px;
		}
		#header .carousel img{
			width: 100%;
		}
		.btn-carousel-top{
			display: inline-block;
			width: 140px;
			height: 45px;
			text-align: center;
			background-color: #ffa687;
			color: #fff;
			position: absolute;
			top:70%;
			left:24%;
			padding-top: 12px;
		}
		.carousel-inner .item:nth-child(2) .btn-carousel-top{
			left:76%;
		}
		.btn-carousel-top .caret{
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px dashed;
			border-right: none; 
			color:black;
			position: relative;
			bottom: 2px; 
		}
		.btn-carousel-top:hover, .btn-carousel-top:active, .btn-carousel-top:focus{
			color:#000 !important;
			text-decoration: none!important;
		}
		.block-carus-indi{
			display: inline-block;
			height: 75px;
			width: 100%;
			vertical-align: bottom;
		}
		.carousel-indicators{
			bottom:-55px;
		}
		.carousel-indicators li, .carousel-indicators li.active{
			margin:10px;
			width: 10px;
			height: 10px;
		}
		.carousel-control {
			top:30%;
			height: 120px;
			width: 30px;
			color: #dededd;
			background-color: #fefefd;
		}
		.carousel-control .glyphicon-chevron-right{
			margin-right: -10px;
		}
		.carousel-control .glyphicon-chevron-left{
			margin-left: -10px;
		}
		.carousel-control.left,.carousel-control.right{
			background-image: none;
		}
/*****************content*******************/		
	/**gray-line**/
		.grey-line{
			height:55px;
			background: #ededed;
			width: 100%;
		}
		#email-but{
			width: 28px;
			height: 29px;
			float:left;
			margin:13px 0px;
			border:none;
			background: url(../img/email_but.jpg)  no-repeat;
		}
		#youre-email-adress{
			float:left;
			margin:13px 0px 14px 10px;
			color:#a6a6a6;
			border:solid #ffffff;
		}
		#stay-updated{
			float:left;
			margin:19px 0px;
			font: 11pt sans-serif;
			color:#6b6b6b;
		}
		#find-us-here{
			float:right;
			margin:19px 10px;
			font: 11pt sans-serif;
			color:#6b6b6b;
		}
		#social-buttons{
			float:right;
			margin: 0px;
		}
		#social-buttons>li{
			float: left;
			border:2px solid #f7f7f7;
			background-color: #f7f7f7;
			width: 55px;
			height: 55px;
		}
		#social-buttons li:nth-child(2){
			background-color: #ededed;
			border:2px solid #ededed;
		}
		#social-buttons>li:hover {
			border:2px solid #969696;
		}
		#social-buttons>li>a {
			margin-left: 14px;
			margin-top: 14px;
			width: 25px;
			height: 25px;
		}
		#social-buttons .faceBook{
			background: url(../img/ico_faceBook.png)  no-repeat;
		}
		#social-buttons .twitter{
			background: url(../img/ico_twitter.png)  no-repeat;
		}
		#social-buttons .pinterst{
			background: url(../img/ico_pinterst.png)  no-repeat;
		}
	/**img-block**/
		.img-block{
			margin-bottom: 50px;
			margin-top: 40px
		}
		.img-block .row{
			margin:0px;
		}
		.img-block img{
			border:1px solid #fff;
			width: 100%;
		}
		.img-block .img{
			float: left;
		}
		.img-block .img-100{
			width: 100%;
		}
		.img-block .img-50{
			width: 50%;
		}
		.img-block .img .img:nth-child(2){
			clear: left;
		}
		.img-block .img .img:nth-child(3){
			position: relative;
		}
		.img-block .btn-img-block{
			display: inline-block;
			width: 101px;
			height: 29px;
			text-align: center;
			margin-top: 10px;
			background-color: #4fafa0;
			color: #fff;
			position: absolute;
			bottom: 25px;
			left:32px;
			padding-top: 6px;
			font-size:13px;
		}
		.img-block .btn-img-block .caret{
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px dashed;
			border-right: none; 
			position: relative;
			bottom: 2px;
		}
		.btn-img-block:hover, .btn-img-block:active, .btn-img-block:focus{
			color:#000 !important;
			text-decoration: none!important;
		}
	/**menu-content|carousel**/
		.menu-content a{
			color: #555555;
		}
		.menu-content .nav-tabs{
			border-bottom: 1px solid #fd926d;
		}
		.menu-content .nav-tabs > li.active > a, .menu-content .nav-tabs > li.active > a:hover, .menu-content .nav-tabs > li.active > a:focus{
			color: #fff;
			background-color: #fd926d;
			border: 1px solid #fd926d;
		}
		.menu-content>ul>li>a:focus{
			color: #fff;
			background-color: #fd926d;
			border: none;
			border-bottom: 1px solid #fd926d;
		}
		.menu-content>ul>li>a{
			padding: 15px 10px;
			height: 47px;
		}
		.menu-content .left, .menu-content .right{
			float: right;
			color: #fff;
			background-color: #fd926d;
			height: 47px;
			width: 47px;
			text-align: center;
			padding-top: 11px;	
		}
		.menu-content .left{
			background-color: #f2f2f2;
			float: left;
		}
		.nav-carousel{
			float:right;
		}
		/**********/
		.content-carousel {
			height: 455px;
			background-color: #fd926d;
		}
		.content-carousel .sale{
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 1000;
		}
		.content-carousel .shop-it{
			position: absolute;
			top: 90px;
			left: 45px;
			z-index: -1;
		}
		.product-info .product-title, .product-info .product-price{
			color:#333333;
			text-decoration: none;
		}
		.content-carousel a:hover,.content-carousel a:focus {
			color: #23527c;
			text-decoration: none;
		}
		.content-carousel .product-img{
			width: 100%;
		}
		.content-carousel {
			padding: 0px;
			margin-top: -1px;
		}
		.content-carousel .product{
			background-color: #f7f7f7;
			margin: 30px 15px;
			position: relative;
			width:220px !important;
			height: 395px;
		}
		.content-carousel .product:hover{
			width:240px !important;
			height: 425px;
			margin: 15px 5px;
		}
		.content-carousel .product:hover .input-but{
			margin-left: 60px;
		}
		.content-carousel .product:hover .shop-it{
			z-index: 0;
		}
	/**ico-50%off**/
		.ico_50off{
			margin-top: 50px;
			height:150px;
			text-align: center;
		}
		.ico_50off span{
			z-index: 1000;
			position: relative;
			bottom:118px;
		}
		.ico_50off hr{
			margin-top: 52px;
		}
	/**items50**/
		.items50 a {
			text-decoration: none;
		}
		.items50 .row {
			margin-left: 0px;
			margin-right: 0px;
			text-align: justify;
		}
		.items50 .row:after {
			display: inline-block;
			content: "";
			width: 100%;
		}
		.items50 .product50{
			width: 220px;
			height: 395px;
			font: 10pt arial;
			margin-top: 25px;
			color: #373737;
			background-color: #f7f7f7;
			text-align: center;
			display: inline-block;
		}
		.title{
			font: 10pt arial;
			color: #373737;
			margin-top: 7px;
		}
		.price{
			font:14pt arial;
			color: #373737;
			margin-top: 7px;
		}
		.input-but{
			color: #fff;
			text-align: center;
			height: 32px;
			width: 120px;
			padding-top: 7px;
			margin-top: 7px;
			margin-left: 50px;
			margin-bottom: 7px;
			background-color: #fd926d;
			border-bottom:3px solid #dd6b44;
		}
	/**favorite brands**/
		.favorite-brands{
			padding-bottom: 30px
		}
		.title-brands{
			text-align: center;
		}
		.brands{
			text-align: justify;
			border-bottom: 1px solid #d8d8d8;
		}
		.brands img{
			display: inline-block;
		}
		.brands:after {
				display: inline-block;
				content: "";
				width: 100%;
			}
		.about{
			text-align: center;
		}

/*****************footer********************/
	/**payment-systems**/
		.payment-systems{
			width: 100%;
			height: 58px;
			background:#f7f7f7 ;
			color: #9c9c9c;
			text-align: center;
		}
		.payment-systems>div>div>div>img{
			margin: 19px 20px 17px 20px;
		}
	/**info-footer**/
		.info-footer{
			width: 100%;
			background:#ededed ;
			color: #817e7c;
			text-align: justify;
			font: 12pt arial;
		}
		.info-footer>div>div>div>div{
			display: inline-block;
			text-align: left;
			vertical-align: top;
			margin-top: 20px;
			color:#544f4d;
		}
		.info-footer h4{
			font: 16pt arial;
		}
		.helper{
			width: 100%;
			height: 0;
			visibility: hidden;
		}
		.no-padding>li>a{
			padding:0;
			color:#817e7c;
		}
		.social>ul>li{
			float:left;
		}
		.social>ul>li>a{
			padding:10px 10px 0px 0px;
			float:left;
		}
		.social>ul li:nth-child(2),
		.social>ul li:nth-child(5){
			clear: left;
		}
		.secured{
			padding-top: 20px;
		}
	/**black-footer**/
		.black-footer{
			height: 74px;
			background:black ;
			color: #7a7a7a;
		}
		#nav-footer{
			margin-top: 28px;
		}
		#nav-footer-li{
			font: 10pt sans-serif;
			color: #7a7a7a;
			border-right: 1px solid #7a7a7a;
			padding:0px 9px;
		}
		#about{
			font: 10pt sans-serif;
			color: #7a7a7a;
			padding:0px 9px;
			border: 0px;
		}
		.copyright{
			font: 10pt sans-serif;
			width: 120px;
			height: 30px;
			text-align: right;
			margin-top: 14px;
			float:right;
		}
		#footer .navbar-header{
			background-color: black !important;
		}
		#footer .navbar-default button{
			background-color: black !important;
			border-width: 0px;
		}
		#footer .navbar-toggle{
			float: left !important;
		}
		#footer .navbar-toggle span{
			width: 33px;
			height: 6px;
			border-radius: 1px;
			background-color: #fff !important;
		}
/************************************************************************************
1200px  lg+
*************************************************************************************/
@media screen and (min-width: 1200px){
	/*****************content*******************/
		/**img-block**/
			.img-block .btn-img-block{
					width: 121px;
					height: 36px;
					bottom: 25px;
					left:38px;
					padding-top: 9px;
				}
	/*****************header********************/
		/**carusel-header**/
			.btn-carousel-top{
				width: 150px;
				height: 50px;
				padding-top: 15px;
			}
	/*****************content********************/		
		/**menu-content|carousel**/
			.content-corousel.container{
				width: 1200px !important;
			}

}

/************************************************************************************
991px - 1999px  lg
*************************************************************************************/
@media screen and (min-width: 991px) and (max-width: 1999px){
}
/************************************************************************************
768px - 991px SM TAB
*************************************************************************************/
@media screen and (min-width: 768px) and (max-width: 991px){
	/*****************header********************/
		/**carusel-header**/
			.btn-carousel-top{
				width: 100px;
				height: 35px;
				padding-top: 10px;
				font-size: 12px;
			}
	/*****************content*******************/		
		/**gray-line**/
			#youre-email-adress{
				margin:14px 0px 0px 10px;
			}
		/**img-block**/
			.img-block{
				padding: 0px 18px 0px 18px;
			}
			.img-block .btn-img-block{
				width: 76px;
				height: 22px;
				bottom: 17px;
				left:23px;
				padding-top: 5px;
				font-size: 10px;
			}
	/*****************footer*******************/
		/**info-footer**/
			.campaigns_sm{
				margin-top: 0 !important;
				margin-bottom: 20px;
			}
			.stores_sm{
				margin-left: 65px;
				margin-top: 0 !important;
				margin-bottom: 20px;
			}
		/**black-footer**/
			.black_footer .navbar-toggle {
					display: none;
				}
			.black-footer .navbar-collapse.collapse {
				display: block !important;
				height: auto !important;
				padding-bottom: 0;
				overflow: visible !important;
			}
			.black-footer .navbar-collapse {
				width: auto;
				border-top: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			.black-footer .navbar-header{
				display: none;
			}
			.black-footer .navbar-nav{
				float: left;
			}
			.black-footer .navbar-nav > li {
				float: left;
			}
}
/************************************************************************************
000px - 767px XS
*************************************************************************************/
@media screen and (max-width: 767px) {
	/*****************header*******************/
		/**top-black-line**/
			#top-black-line{
				background: #fff;
			}
			.top-line{
				font: 22pt sans-serif;
			}
			.xs-custom-care{
				text-align:center;
				height: 96px;
				font: 22pt sans-serif;
				padding-top: 21px ;
			}
			.custom-care{
				text-align:center;
				height: 96px;
				font: 22pt sans-serif;
				padding-top: 21px ;
				background: #fff;
				color:black;
				width: 100%;
			}
			.top-line-right{
				width: 100%;
			}
			.top-line-right>div{
				float: right;
				height: 96px;
				padding: 0 22px;
				padding-top: 30px !important;
				text-align: center;
				background-color: black;
			}
			.search{
				border-right: 0px solid #444444 !important ;
				width: 15%;
			}
			.search img{
				padding-left: 15px;
			}
			.val{
				border-left: 0px solid #444444 !important ;
				width: 25%;
				padding: 0 18px;
			}
			.val .caret{
				border-width: 10px; 
			}
			.val .dropdown-menu{
				min-width: 143px;
				background: black;
				left: -15px;
			}
			.val .dropdown-menu li>a{
				padding:3px 8px;
				font: 22pt sans-serif;
				color:white;
			}
			.my-account{
				width: 60%;
			}
		/**navigtion-top**/
			#logo{
				text-align: center;
				margin:20px 20% !important;
			}
			#header .navbar{
				min-height: 96px;
			}
			#nav{
				margin:25px 0px  !important;
			}
			#items-cart{
				padding-right: 0;
				padding-left: 0;
				float: none;
			}
			#sm_menu{
				margin-right: 0px;
				margin-left: 0px;
			}
			#header .navbar-header{
				height: 96px;
			}
			#header .navbar-brand{
				font:26pt arial;
				padding-top:28px ;
				padding-left:30px ;
			}
			#header	.navbar-toggle span{
				width: 33px !important;
				height: 6px !important;
			}
			#header .navbar-toggle{
				margin-top: 24px;
				margin-right: 8px;
			}
			#icon-cart{
				margin-top:15px !important;
				margin-left:30px !important;
				float: left;
			}
			#items{
				margin-top: 25px !important;
				margin-right:30px !important;
			}
			#items-val{
				width: 100% !important;
				height: 96px !important;
				font: 26pt arial;
			}
	/*****************content******************/
		/**grey-line**/
			.grey-line{
				height:209px;
				background: #fff;
				width: 100%;
				margin-bottom: 25px;
			}
			#youre-email-adress{

				font: 22pt arial;
				height: 96px;
				margin:0px 0px 0px 30px;
				color:#b6b6b6;
				background-color: #ededed;
				border:solid #ededed;
			}
			#email-but{
				width: 96px;
				height: 96px;
				float:right;
				margin:0px 0px;
				border:none;
				background: url(../img/email_but_xs.jpg)  no-repeat;
			}
			.grey-line-email{
				margin:0px 15px;
				padding:0px;
				height: 96px;
				background-color: #ededed;
			} 
			.grey-line-social{
				padding: 0px 90px;
				margin-top: 27px;
				height: 88px;
				width: 100%;
				background-color: #fff;
			} 
			
			#find-us-here {
				font: 20pt arial;
				margin:25px 0px;
				color:#6c6c6c;
				float: left;
			}
			#social-buttons{
				float:right;
				margin: 0px 0px ;
			}
			#social-buttons>li{
				background-color: #f7f7f7;
				width: 88px;
				height: 88px;
			}
			#social-buttons li:nth-child(2){
				background-color: #ededed;
			}
			#social-buttons>li>a {
				margin-left: 24px;
				margin-top: 24px;
				width: 35px;
				height: 33px;
			}
			#social-buttons .faceBook{
				background: url(../img/ico_faceBook_xs.png)  no-repeat;
			}
			#social-buttons .twitter{
				background: url(../img/ico_twitter_xs.png)  no-repeat;
			}
			#social-buttons .pinterst{
				background: url(../img/ico_pinterst_xs.png)  no-repeat;
			}
		/**menu-content**xs_only**/
			.btn-group{
				width: 100%;
				height: 88px;
			}
			.btn-info{
				font-size: 24px;
				height: 88px;
				background-color: #f4845d;
				border-color: #f4845d;
				color:#fff;
				width: 100%;
				border-radius: 0px;
			}
			.btn-info:active, .btn-info:hover, .btn-info:focus{
				background-color: #f4845d !important;
				border-color: #f4845d !important;
			}
			.btn-text{
				float: left;
			}
			.caretBig{
				font-size: 40px;
				float: right;
				margin-top: 13px;
			}
			.content-xs .dropdown-menu {
				background-color: #fd926d;
				z-index: 1010;
			}
			.content-xs .dropdown-menu a{
				text-decoration: none;
				color:#fff;
			}
			.content-xs .dropdown-menu li{
				border-radius: 2px;
			}
			.content-xs .dropdown-menu > .nav-tabs > li.active > a{
				background: #f4845d;
				border-color:#f4845d;
			}
			.content-xs .nav-tabs{
				border:0px;
			}
		/**menu-contentIMG**xs_only**/
			.content-xs .row{
				margin-left: 0px;
				margin-right: 0px;
			}
			.content-xs .row:after {
				display: inline-block;
				content: "";
				width: 100%;
			}
			.content-xs .items{
				display: inline-block;
				background-color: #fd926d;
				text-align: center;
				width: 100%;
			}
			.content-xs .items>.product{
				margin: 33px 16px 0px 16px;
				display: inline-block;
				height: 525px;
				background-color: #f7f7f7;
			}
			.content-xs .product-info{ 
				background-color: #f7f7f7;
				padding-top: 7px;
			}
			.product-info .product-title{
				font: 13pt arial;
			}
			.product-info .product-price{
				font:18pt arial;
				margin-top: 7px;
			}
			.product-info .input-but{
				font-size: 16pt;
				color: #fff;
				text-align: center;
				height: 67px;
				width: 220px;
				padding-top: 16px;
				margin-top: 7px;
				margin-left: 27px;
				margin-bottom: 15px;
				background-color: #fd926d;
				border-bottom:7px solid #dd6b44;
			}
			.butBlack{
				margin-top: 30px;
				margin-bottom: 30px;
				background-color:transparent!important;
			}
			.content-xs .input-butBlack, .items50 .input-butBlack{
				font-size: 14pt;
				color: #fff;
				text-align: center;
				height: 67px;
				width: 220px;
				padding-top: 16px;
				background-color: black;
				border-bottom:7px solid black;
				display: inline-block;
			}
		/**items50**/
			.items50 .row{
				text-align: center;
			}
			.items50 .product50{
				width: 270px;
				height: 480px;
				margin:25px 15px 0px 15px;
			}
			.items50 .img-xs{
				width:100%;
			}
			.items50 .product50 .title{
				font: 14pt arial;
				color: #373737;
				margin-top: 7px;
			}
			.items50 .product50 .price{
				font:18pt arial;
				color: #373737;
				margin-top: 7px;
			}
			.items50 .product50 .input-but{
				height: 68px;
				width: 220px;
				font-size: 16pt;
				padding-top: 19px;
				margin-top: 20px;
				margin-left: 26px;
				border-bottom:6px solid #dd6b44;
			}
	/*****************footer*******************/
		/**black-footer**/
			.black-footer{
				margin-top: 37px;
				
			}
			.black-footer>div{
				background-color:black;
			}
			#nav-footer-li{
				font: 12pt sans-serif;
				color: #7a7a7a;
				border-right: 0px solid #7a7a7a;
				border-bottom: 1px solid #7a7a7a;
				padding: 6px 9px;
				width: 160px;
			}
			#about{
				font: 12pt sans-serif;
				color: #7a7a7a;
				border-right: 0px solid #7a7a7a;
				border-bottom: 1px solid #7a7a7a;
				padding: 6px 9px;
				width: 160px;
			}


}